/* * {
  padding: 0;
  margin: 0;
} */

html {
  font-size: 62.5%;
}

.toggle--body--light {
  width: 4rem;
  height: 2rem;
  background-color: #2b283a;
  border-radius: 1.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
}

.toggle--button--light {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #2b283a;
  position: absolute;
  right: auto;
  transition: 0.3s;
}

.toggle--body--dark {
  width: 4rem;
  height: 2rem;
  background-color: #f5f5f5;
  border-radius: 1.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
}

.toggle--button--dark {
  width: 2rem;
  height: 2rem;
  background-color: #222222;
  border-radius: 1rem;
  border: 1px solid #2b283a;
  position: absolute;
  left: 2rem;
}

.header--image {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.header--heading {
  color: #61dafb;
}

.header--banner {
  display: flex;
  align-items: center;
}

.header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header--light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.header--dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #21222a;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle:hover {
  cursor: pointer;
}

.body--heading--dark {
  font-size: 5rem;
  color: #f5f5f5;
}

.body--heading--light {
  font-size: 5rem;
  color: #000;
}

li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

.list-item--dark {
  color: #f5f5f5;
  font-size: 1.5rem;
}
.list-item--light {
  color: #000;
  font-size: 1.5rem;
}

.body {
  height: 100vh;
  padding: 2rem;
}

.body h1 {
  margin: 0;
}

.font--opacity {
  opacity: 40%;
}

.heading--light {
  color: #2b283a;
}

.heading--dark {
  color: #fff;
}

.body--dark {
  background-color: #282d35;
}

.body--light {
  background-color: #fff;
}
